# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
ENV/
env/


# Secrets and Local Config
.env

# Databases and Data output
*.db
*.csv
results.csv
results.db
domains.txt

# Project specific data
domains.txt

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyCharm / VS Code settings
.idea/
.vscode/
*.swp